{% extends "base.html" %}
{% load staticfiles %}
<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  
    <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{% static 'home/css/bootstrap/css/bootstrap.min.css' %}">

  <!-- Custom styles for this template -->
  <link href="{% static 'home/css/small-business.css' %}" rel="stylesheet">
</head>

<body>
	<!-- Page Content -->
	{% block content %}
		<div class="container">
		
			<br><br>
			{% if form.errors %}
				<p>Your username and password didn't match. Please try again.</p>
			{% endif %}

			{% if next %}
				{% if user.is_authenticated %}
					<p>Your account doesn't have access to this page. To proceed,
					please login with an account that has access.</p>
				{% else %}
					<h1>Enter your login details here</h1>
					
				{% endif %}
			{% endif %}
			<br>
			<form method="post" action="{% url 'login' %}">
				{% csrf_token %}
				<table>
					<tr>
					  <td>{{ form.username.label_tag }}</td>
					  <td>{{ form.username }}</td>
					</tr>

					<tr>
					  <td>{{ form.password.label_tag }}</td>
					  <td>{{ form.password }}</td>
					</tr>
				</table>
				<br>
				<input type="submit" value="login" />
				<input type="hidden" name="next" value="{{ next }}" />
			</form>
			<br>
			{# Assumes you setup the password_reset view in your URLconf #}
			<p><a href="{% url 'password_reset' %}">Lost password?</a></p>
			<br>
		</div>
	{% endblock %}
</body>